body {
    background: #e93325;
}

h1 {
    text-align: center;
}

img {
    width: auto;
    max-width: 100%;
    margin: auto;
}

about {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}